cameraPos: 0.3, 3., 3.
cameraRotation: 0., -.8
fovLength: .8

quad:
point: 1., 1., -1.
point: 1., -1., -1.
point: -1., -1., -1.
point: -1., 1., -1.
material: diffuse
reflectance: .99, .99, .99

;quad:
point: 1., 1., 1.
point: 1., -1., 1.
point: -1., -1., 1.
point: -1., 1., 1.
material: diffuse
reflectance: .99, .99, .99

quad:
point: 1., 1., -1.
point: 1., 1., 1.
point: 1., -1., 1.
point: 1., -1., -1.
material: diffuse
reflectance: .99, .99, .99

quad:
point: -1., 1., -1.
point: -1., 1., 1.
point: -1., -1., 1.
point: -1., -1., -1.
material: diffuse
reflectance: .99, .99, .99

;quad:
point: -1., 1., -1.
point: -1., 1., 1.
point: 1., 1., 1.
point: 1., 1., -1.
material: diffuse
reflectance: .99, .99, .99

quad:
point: -1., -1., -1.
point: -1., -1., 1.
point: 1., -1., 1.
point: 1., -1., -1.
material: diffuse
reflectance: .99, .99, .99

plane:
normal: 0., 0., 1.
point: 0., 0., 1000.
material: emission
reflectance: 2, 2, 2