cameraPos: 0, -1.3, 1.
cameraRotation: 0, 0.785398
fovLength: .8

quad:
point: 1., 1., 0.
point: 1., -1., 0.
point: -1., -1., 0.
point: -1., 1., 0.
material: diffuse/textured
textures: color, normal
color: ..\raytracing\white.png
normal: ..\raytracing\sample.png
;color: ..\raytracing\Bricks01_COL_VAR1_3K.jpg
;normal: ..\raytracing\Bricks01_NRM_3K.jpg
;color: ..\raytracing\CliffJagged004_COL_VAR1_3K.jpg
;normal: ..\raytracing\CliffJagged004_NRM_3K.jpg

sphere:
point: 20, 20, 20
radius: 15
material: emission
reflectance: 10, 10, 10
