fovLength: .8

;floor
plane:
normal: 0., 1., 0.
point: 0., -.3, -2.
material: diffuse
reflectance: .99, .99, .99

;top light
plane:
normal: 0., 1., 0.
point: 0., 1., -2.
material: emission
strength: 3., 3., 3.

;left wall
plane:
normal: 1., 0., 0.
point: -1., 0., 0.
material: diffuse
strength: 1., .2, .2

;right wall
plane:
normal: 1., 0., 0.
point: 1., 0., 0.
material: diffuse
strength: .1, 1., .1

;back wall
plane:
normal: 0., 0., 1.
point: 0., 0., -4.
material: diffuse
reflectance: .99, .99, .99

;front wall
plane:
normal: 0., 0., 1.
point: 0., 0., 1.
material: diffuse
reflectance: .99, .99, .99

;left sphere
sphere:
point: -.33333333333333333, 0.1, -2.
radius: .25
material: diffuse
reflectance: .5, .5, .5

;right sphere
sphere:
point: .33333333333333333, 0.1, -2.
radius: .25
material: diffuse/specular
reflectance: .72, .45, .20
probability: .8

;quadrilateral
;quad:
point1: -.5, -.1, -2.5
point2: 0., -.1, -2.
point3: 0., .4, -2.
point4: -.5, .4, -2.5
material: diffuse
reflectance: .99, .99, .5
