cameraPos: 0, 2, 0.
cameraRotation: 0, -1.570796
fovLength: .8

quad:
point: 1, 0, 1
point: 1, 0, -1
point: -1, 0, -1
point: -1, 0, 1
material: diffuse/textured
textures: color, normal
color: white.png
normal: sample.png

;plane:
normal: -1, -1, -1
point: 100, 0, 100
material: emission
reflectance: 2.5, 2.5, 2.5

plane:
normal: -1, -1, -1
point: 100, 0, 100
material: emission
reflectance: 2.5, 2.5, 2.5
